<!DOCTYPE html>
<html>
<head>
    <title>Список постов</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Посты</h1>
        <a href="{% url 'home' %}">На главную</a> |
        <a href="{% url 'post_create' %}">Создать пост</a>
        <ul>
            {% for post in object_list %}
                <li>
                    <!-- Ссылка на отдельный пост -->
                    <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                </li>
            {% empty %}
                <li>Постов пока нет.</li>
            {% endfor %}
        </ul>
    </div>
</body>